.main{
    width:400px;
    background-color: aqua;
    height: 400px;
    border: 3px solid red;
    border-radius: 20px;
    margin: auto;
    margin-top: 100px;
}
#quotes{
  height: 150px;
  font-size: 30px;
}
#author{
  height: 24px;
  font-size: 25px;
}
#quotes,#author{
          margin: 15px;
          padding: 10px;
          

          
}

#button{
         height: 50px;
        margin-left: 40%;
         padding: 15px;
         border: none;
         box-shadow: 3px;
         border-radius: 10px;
         color: rgb(33, 163, 163);
         background-color: rgb(174, 235, 189);
         

}
#button:hover{
    background-color: rgb(223, 223, 148);
    color:blue ;
    font-size: 10px;
}
